/* NotificationToggle.css */

.notification-toggle {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 31px;
}

.notification-toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.notification-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 31px;
}

.notification-toggle-slider:before {
  position: absolute;
  content: '';
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.notification-toggle-input:checked + .notification-toggle-slider {
  background-color: #8b5cf6; /* Royal color */
}

.notification-toggle-input:checked + .notification-toggle-slider:before {
  transform: translateX(20px);
}

.notification-toggle-input:disabled + .notification-toggle-slider {
  opacity: 0.5;
  cursor: not-allowed;
}

.notification-toggle-input:focus + .notification-toggle-slider {
  box-shadow: 0 0 1px #8b5cf6;
}

/* Hover effect */
.notification-toggle-slider:hover {
  opacity: 0.9;
}
